.title {
    color: #0d0d0d;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    &_left {
        color: #fff;
        font-size: 36px;
        text-align: left;
    }
    &_customer {
        margin-bottom: 70px;
    }
        
}